/* defining our color */
:root {
    --navbar-background-color:#FFFFFF;
    --navbar-background-color-onhover:#F8F9FA;
    --portfolio-button-background-color:#207561
}

/* definig contsant setup */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


/* body constant style */

body{
    background-color: #FFFFFF
}

.wl {
    max-width:300px;
}

.margin-top{
    margin-top:1rem
}

/* for button */
.text-center{
    text-align: center
}

.font-size{
    font-size:20px
}
.m{
    max-width: 500px;
}

.text_style{
    text-decoration: none;
}